* {box-sizing: border-box;}

 /* Footer styles */
 .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }



.slider {
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 2000px;
    background-color: pink;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 800;
    height: 400;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 5px;
    cursor: pointer;
  }

  .buttons a.active {
    background-color: whitesmoke;
  }
  /* Body styles */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Wrapper styles */
    
  .wrapper {
    width: 85%;
    margin: auto;
    clear: both;
    overflow: hidden;
  }
  
  /* Header styles */
  .header {
   padding: 80px;
   text-align: center;
   background: plum;
   color: white;
  }
  
  .header input[type="text"] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
  }
  
  .navbar a:hover {
    background-color: #aaa;
    color: black;
  }
  
  .navbar-right {
    float: right;
    background-color: #04aa6d;
    color: white;
  }
  

 


  